---
layout: root.pug
---

h1 API Docs

nav
  ul
    li
      a(href="/api/authentication") Authentication
    li
      a(href="/api/users") Users
    li
      a(href="/api/spaces") Spaces
    li
      a(href="/api/cards") Cards
    li
      a(href="/api/connections") Connections
    li
      a(href="/api/connection-types") Connection types

article !{content}