p ( ・_・)ノ゛If you have questions, comments, or requests, please don't hesitate to reach out to&nbsp;
  a(href="mailto:hi@kinopio.club") hi@kinopio.club
  span , the&nbsp;
  a(href="https://club.kinopio.club") Support Forum
  span , or&nbsp;
  a(href="https://discord.gg/h2sR45Nby8") Community Discord

a(href="mailto:hi@kinopio.club")
  button Email hi@kinopio.club
