p ( ・_・)ノ゛If you have questions, comments, or requests, please don't hesitate to reach out to&nbsp;
  a(href="mailto:hi@kinopio.club") hi@kinopio.club
  span . Or on&nbsp;
  a(href="https://twitter.com/KinopioClub") Twitter
  span , or&nbsp;
  a(href="https://www.are.na/kinopio") Are.na.
