---
---
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title !{baseTitle} !{title}
    link(rel="stylesheet" href="/styles/styles.css")
  body
    header
      a(href="https://kinopio.club")
        // todo hover/active change img
        img.logo(src="/assets/logo-base.png")
      h1
        a(href="/") Help and Support

      nav.search
        img(src="/assets/search.svg")
        input(placeholder="Search")
    main !{content}
  footer
  canvas#background
  script(src="/assets/logic.js")
