---
---
html(lang="en")
  head
    meta(charset="utf-8")
    title !{baseTitle} !{title}
    link(rel="stylesheet" href="/styles/styles.css")
  body
    header
      h1
        a(href="/")
          img.logo(src="/assets/logo-base.png")
          span Help and Support
      input.search(placeholder="Search")
    main !{content}
  footer
  // canvas#canvas
  script(src="/assets/logic.js")
