---
pageTitle: Kinopio Help
pageSearchIsVisible: true
currentPage: help
showFooter: true
---
html(lang="en" style='background-color:' + backgroundColor)
  head
    title !{title}
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Help site for Kinopio, the spatial thinking tool for building new ideas and solving hard problems.")
    link(rel="stylesheet" href="/styles/styles.css")
  body(style='background-color:' + backgroundColor)
    .content-wrap
      header
        .title
          a(href='/')
            img.hidden(src="/assets/logo-hover.png")
            img.hidden(src="/assets/logo-active.png")
            .logo
            h1 !{pageTitle}

      include nav.pug

      if pageSearchIsVisible
        .search
          form
            img#search(src="/assets/search.svg")
            input(placeholder="Search")
            img#remove.remove(src="/assets/add.svg")

      main(class=pageClass) !{content}
      if showFooter
        include footer.pug
    // p
    //   a(href="https://github.com/kinopio-club/kinopio-help") View Source

    canvas#background
    canvas#page-background

    canvas.auto-paint#canvas-intro
    canvas.auto-paint#canvas-collaboration
    canvas.auto-paint#canvas-images
    canvas.auto-paint#canvas-tags
    canvas.auto-paint#canvas-comments
    canvas.auto-paint#canvas-mobile-left
    canvas.auto-paint#canvas-mobile-right
    canvas.auto-paint#canvas-cta-bottom

  script(src="/assets/js/fuzzy-min.js")
  script(src="/assets/js/search.js")
  script(src="/assets/js/magic-paint.js")
  if pageTitle === 'About Kinopio'
    script(src="/assets/js/recorded-strokes.js")
    script(src="/assets/js/auto-paint.js")
