---
---
html(lang="en")
  head
    title !{baseTitle} !{title}
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Kinopio is the visual thinking tool for new ideas and hard problems.")
    link(rel="stylesheet" href="/styles/styles.css")
    link(rel="canonical" href="https://kinopio.club")
  body
    header
      a(href="https://kinopio.club")
        img.hidden(src="/assets/logo-hover.png")
        img.hidden(src="/assets/logo-active.png")
        .logo
      h1
        a(href="/") Help and Support

      nav.search
        img(src="/assets/search.svg")
        input(placeholder="Search")
    main !{content}
  footer
    a(href="/")
      img.froggo(src="/assets/froggo.png")

  canvas#background
  script(src="/assets/logic.js")
