footer
  img.froggo(src="/assets/froggo.png")

  //- include /nav.pug

  p If you have questions, comments, or requests, please don't hesitate to reach out to&nbsp;
    a(href="mailto:hi@kinopio.club")
      span hi@kinopio.club
    span , on the&nbsp;
      a(href="https://club.kinopio.club")
        span support forum
    span , or on&nbsp;
      a(href="https://discord.gg/h2sR45Nby8")
        span discord

  section
    h2 Spread the word

    p
      img.icon(src="/assets/heart.svg")
      span Kinopio on&nbsp;
      a(href="https://www.producthunt.com/posts/kinopio")
        span ProductHunt
      span ,&nbsp;
      a(href="https://alternativeto.net/software/kinopio/about/")
        span AlternativeTo
      span ,&nbsp;
      a(href="https://yourstack.com/products/kinopio")
        span YourStack
