footer#footer
  img.froggo(src="/assets/froggo.png")

  .sections
    //- section
      //- h2 Contact Support
      //- p If you have questions, comments, or requests, please don't hesitate to reach out to&nbsp;
      //-   a(href="mailto:hi@kinopio.club")
      //-     span hi@kinopio.club
      //-   span , on the&nbsp;
      //-     a(href="https://club.kinopio.club")
      //-       span support forum
      //-   span , or on&nbsp;
      //-     a(href="https://discord.gg/h2sR45Nby8")
      //-       span discord

    section
      h3 Contact Support
      ul
        li
          a(href="mailto:hi@kinopio.club") Mail hi@kinopio.club
        li
          a(href="https://club.kinopio.club") Support Forum
        li
          a(href="https://discord.gg/h2sR45Nby8") Discord


    section
      h3 Spread the word
        //- img.icon.heart(src="/assets/heart.svg")
      ul
        li
          a(href="https://www.producthunt.com/posts/kinopio") Upvote on ProductHunt
        li
          a(href="https://alternativeto.net/software/kinopio/about") Like on AlternativeTo
        li
          a(href="https://yourstack.com/products/kinopio") Stack on YourStack


    //- p
    //-   img.icon(src="/assets/heart.svg")
    //-   span Kinopio on&nbsp;
    //-   a(href="https://www.producthunt.com/posts/kinopio")
    //-     span ProductHunt
    //-   span ,&nbsp;
    //-   a(href="https://alternativeto.net/software/kinopio/about/")
    //-     span AlternativeTo
    //-   span ,&nbsp;
    //-   a(href="https://yourstack.com/products/kinopio")
    //-     span YourStack
