nav
  .segmented-buttons
    a(href="/")
      button(class={active: currentPage === 'help'})
        span Help
    a(href="/api")
      button(class={active: currentPage === 'api'})
        span API
    a(href="/shop")
      button(class={active: currentPage === 'shop'})
        span Shop
    a(href="/about")
      button(class={active: currentPage === 'about'})
        span About

  a(href="https://kinopio.club")
    button.button-to-kinopio Kinopio →
