---
baseTitle: Kinopio Help –
title: Hello

---
html(lang="en")
  head
    meta(charset="utf-8")
    title !{baseTitle} !{title}
    link(rel="stylesheet" href="/styles/styles.css")
  body
    header
      h1
        a(href="/")
          span Help & Support
    nav.main
      // ul
      //   li
      //     a(href="/api") API Docs
      //   li
      //     a(href="/support") Support
      //   li
      //     a(href="/press") Press Kit
      //   li
      //     a(href="/policies") Policies
      .segmented-buttons
        // a(href="")
        //   button.active About
        a(href="")
          button API
        a(href="")
          button Support
        a(href="")
          button Policies
        a(href="")
          button Press

      a.kinopio-button(href="https://kinopio.club")
        button
          img.logo(src="/assets/logo-base.png")
          span Kinopio.club →

    main !{content}
  footer
