---
baseTitle: Kinopio Help –
title: Hello

---
html(lang="en")
  head
    meta(charset="utf-8")
    title !{baseTitle} !{title}
    link(rel="stylesheet" href="/styles/styles.css")
  body
  
    header
      a(href="/") 
        img.froggo(src="/assets/froggo.png")
      // a(href="/") 
        // span Kinopio Help
      a(href="https://kinopio.club")
        button
          span [logo] Kinopio.club
    nav.main
      ul
        li
          a(href="/api") API Docs
        li
          a(href="/support") Support
        li
          a(href="/press") Press Kit
        li
          a(href="/policies") Policies
    main !{content}
  footer
