---
baseTitle: Kinopio –
title: Hello
---
html(lang="en")
  head
    meta(charset="utf-8")
    title !{baseTitle} !{title}
  body
    header
      p
        a(href="/") [img] kinopio
      nav
        ul
          li
            a(href="/api") API Docs
          li
            a(href="/help") Help
          li
            a(href="/privacy") Privacy
          li
            a(href="/terms-of-service") Terms of Service
    main !{content}
  footer
