---
baseTitle: Kinopio Help –
title: Hello

---
html(lang="en")
  head
    meta(charset="utf-8")
    title !{baseTitle} !{title}
    link(rel="stylesheet" href="/styles/styles.css")
  body

    header
      a(href="/")
        h1 Help & Support
        // img.froggo(src="/assets/froggo.png")
        // img.title(src="/assets/title.svg")
      a(href="https://kinopio.club")
        button
          img.logo(src="/assets/logo-base.png")
          span Kinopio.club →
    nav.main
      // ul
      //   li
      //     a(href="/api") API Docs
      //   li
      //     a(href="/support") Support
      //   li
      //     a(href="/press") Press Kit
      //   li
      //     a(href="/policies") Policies
      .segmented-buttons
        a(href="")
          button API
        a(href="")
          button Support
        a(href="")
          button Press
        a(href="")
          button Policies

    main !{content}
  footer
