---
baseTitle: Hello Kinopio –
title: Hello
---
html(lang="en")
  head
    meta(charset="utf-8")
    title !{baseTitle} !{title}
  body
    header
      p [img] kinopio
      nav
        ul
          li Privacy
          li API
    main !{content}
  footer
