---
layout: default.pug
---

article.about
  h1 Spatial Thinking for New Ideas and Hard Problems

  p
    span Get your thoughts out and visually connect them together. Kinopio works how our brains work.

  .uses
    span Use Kinopio for
    a.badge(href="#") Mind Mapping
    a.badge(href="#") Brainstorming
    a.badge(href="#") Mood Boards
    a.badge(href="#") Journaling
    a.badge(href="#") Retrospectives
    a.badge(href="#") Meeting Notes

  p Basically for figuring stuff out – by yourself or collaboratively.
  p No sign up required.

  section.actions
    a(href="#pricing")
      button Pricing
    a(href="https://kinopio.club")
      button.button-primary
        span Use Kinopio →

  // script(src="/assets/about.js")


  // explore more spaces examples, real feed. add explore to api docs
