---
layout: default.pug
---

article.about
  section.what-is-kinopio
    h1 Spatial Thinking for New Ideas and Hard Problems

    //- TODO vid short, 560px x 300px 'overview' focused on core function: (add to multiple, connect, paint, move all)
    video.overview(autoplay loop muted playsinline)
      source(src="https://kinopio-updates.us-east-1.linodeobjects.com/comments.mp4")
    p Get your thoughts out and visually connect them together. Kinopio works the way your mind works.

  section.uses
    span For
    .badge.use(data-type="mind-mapping") Mind Mapping
    .badge.use(data-type="research") Research
    .badge.use(data-type="meetings") Meetings
    .badge.use(data-type="mood-boards") Mood Boards
    .badge.use(data-type="journaling") Journaling
    .badge.use(data-type="note-taking") Note Taking
    span and
    a.badge.use(data-type="templates") Lots More

    // Examples, toggled with js

    // Mind Mapping - 🖋, art? space?
    .example.mind-mapping(data-type="mind-mapping")
      .triangle
      figure
        img(src="/assets/about/test.png")
        // todo static map
        figcaption
          p Express, organize, and make sense of your thoughts and feelings by capturing and visually connecting related ideas together.
          a(href="#")
            button Use Mind Mapping →

    // Research - 🖋, art? space?
    .example.research(data-type="research")
      .triangle
      figure
        video(autoplay loop muted playsinline)
          source(src="http://localhost:8081/assets/posts/favorites.mp4")
        figcaption
          p Gather notes, and connect them to their source URLs. Drag in files, like PDFs, to keep everything together. Categorize and label similar concepts with [[tags]].
          p Spatially organized information that’s easy to retrieve helps you get over writing and planning anxiety.
          // a.badge.to-kinopio(href="#") Use Research Space →
          a(href="#")
            button Use Research →

    // Meetings - 🖋, art? space?
    .example.meetings(data-type="meetings")
      .triangle
      figure
        // todo vid MUST show real time collab
        video(autoplay loop muted playsinline)
          source(src="https://kinopio-updates.us-east-1.linodeobjects.com/card-tags.mp4")
        figcaption
          p Run productive meetings and retrospectives that lead to clarity and actionable next steps.
          p Every feature of Kinopio works on mobile or desktop – so no matter what device you're on, or where you are, everyone can work together as equals.
          //- todo replace old meeting agenda template
          a(href="#")
            button Use Meeting →


    // Mood Boards - 🖋, 🌷, space?
    .example.mood-boards(data-type="mood-boards")
      .triangle
      figure
        video(autoplay loop muted playsinline)
          source(src="/assets/about/futureland-moodboard-example.mp4")
        figcaption
          p Collect visual inspiration to evoke a vibe and a direction for your next big project.
          p
            img.icon.arena(src="/assets/arena.svg")
            span You can also import Are.na Channels
          // a.badge.to-kinopio(href="#") Use Mood Board →
          a(href="#")
            button Use Mood Board →


    // Journaling - 🖋, art? space?
    .example.journaling(data-type="journaling")
      .triangle
      figure
        //- todo video configuring and filling out daily journal
        video(autoplay loop muted playsinline)
          source(src="https://kinopio-updates.us-east-1.linodeobjects.com/card-tags.mp4")
        figcaption
          p Create daily journal spaces to reflect on your life and moments,
          p Personalize your journal to fit your goals with custom prompts and themed prompt packs which present something new each time.
          a(href="#")
            button Use Daily Journal →

    // Note Taking - 🖋, art? space?
    .example.note-taking(data-type="note-taking")
      .triangle
      figure
        video(autoplay loop muted playsinline)
          source(src="https://kinopio-updates.us-east-1.linodeobjects.com/card-tags.mp4")
        figcaption
          p Making beautiful notes isn’t just fun – taking notes by mapping and grouping related concepts spatially makes knowledge inherently more meaningful and memorable.
          p Organizing information non-linearly, like our brains do, reduces the amount of effort needed learn and remember  knowledge.
          a(href="#")
            button Use Note Taking →

    // Templates - 🖋, art? space?
    .example.templates(data-type="templates")
      .triangle
      figure
        video(autoplay loop muted playsinline)
          source(src="https://kinopio-updates.s3.us-east-1.amazonaws.com/best-of.mp4")
        figcaption
          p Of course, you can use Kinopio for so much more. Like project planning, database modelling, to-dos, outlining, group chats, and grocery lists…
          p
            img.icon.sunglasses(src="/assets/sunglasses.svg")
            span Use Explore to find more templates and cool spaces created by the community
          // p
          //   a.badge(href="/posts/templates/") Using Explore →
          // p
          //   a.badge(href="#") About Templates →

  p It's basically for figuring stuff out – by yourself or collaboratively.
  p No sign up required.

  include /actions.pug

    // section.how-to-use

    //- h2 How To Use


    //- p Kinopio is designed to
    //- ol
    //-   li Get the chaotic messy thoughts and ideas out of your head
    //-   li Show you how they’re connected
    //-   li Help you figure out what they mean, and how to start working on them

  p Rather than replacing useful productivity and wiki tools you may already be using like Notion, Trello, or Roam [], Kinopio is for exploratory, collaborative, and creative thinking that doesn't work so well in linear documents and structured tables.

  // p [it's best for exploratory, collaborative, things]

    // Instead of neatly structured forms and lists like a traditional planning tool .. notino bit here?

    // p Kinopio is a tool that'll grow with you. Whether doing deep-work by yourself, or collaborating with your team, creating and connecting thoughts spatially feels like extension of your mind
  //- include /actions.pug


  section.pro-tips

    //- h2 Works Like a Dream, Grows With You
      //- img.icon.updated(src="/assets/updated.gif")
    h2 Create Spaces for Reflection, or for Parties

    //- h2 As Social and as Powerful as You Want
    //- everything you want and nothing you don't
    //- p go beyond the basics with

    p real time collab

    p image, videos, and audio cards

    p tags [Using Tags]
    video.medium(autoplay loop muted playsinline)
      source(src="https://kinopio-updates.us-east-1.linodeobjects.com/tags-closeup.mp4")

    p comments [Using Comments]
    video.medium(autoplay loop muted playsinline)
      source(src="https://kinopio-updates.us-east-1.linodeobjects.com/comments.mp4")

    p [privacy], [filtering], [keyboard shortcuts], [export your data at anytime]

    //- p privacy settings and invite links
    //- p export your data at any time

    p And finally, Kinopio works great on phones and tablets [desktop and mobile apps]
    video.small(autoplay loop muted playsinline)
      source(src="https://kinopio-updates.us-east-1.linodeobjects.com/mobile-improvments-small.mp4")


  include /actions.pug

    //- p Instead of neatly structured forms and linear lists like a traditional planning tool, Kinopio is a thinking tool for creating connections through spatial relationships.






script(src="/assets/js/examples.js")
