---
layout: default.pug
title: About Kinopio
---

article.about
  section.what-is-kinopio
    h1 Spatial Thinking for New Ideas and Hard Problems

    video.intro-video#intro-video(autoplay loop muted playsinline)
      source(src="/assets/about/intro.mp4")
    p Get your thoughts out and visually connect them together. Kinopio works the way your mind works.


  section.cta-top
    p No sign up required.
    include /cta.pug


  section.uses
    span For
    .badge.use(data-type="mind-mapping") Mind Mapping
    .badge.use(data-type="research") Research
    .badge.use(data-type="meetings") Meetings
    .badge.use(data-type="mood-boards") Mood Boards
    .badge.use(data-type="journaling") Journaling
    .badge.use(data-type="note-taking") Note Taking
    span and
    a.badge.use(data-type="templates") Lots More

    // Examples, toggled with js

    // Mind Mapping
    .example.mind-mapping(data-type="mind-mapping")
      .triangle
      figure
        img(src="/assets/about/example-mind-map.png")
        figcaption
          p Express, organize, and make sense of your thoughts and feelings by capturing and visually connecting related ideas together.
          a(href="https://kinopio.club/mind-map-u2Zc1bR0q7bRb16-K5o6X")
            button Use Mind Mapping →
    // Research
    .example.research(data-type="research")
      .triangle
      figure
        img(src="/assets/about/example-research.png")
        figcaption
          p Gather notes, and connect them to their source URLs. Drag in files, like PDFs, to keep everything together. Categorize and label similar concepts with [[tags]].
          p Spatially organized information that’s easy to retrieve helps you get over anxiety and procrastination.
          a(href="https://kinopio.club/research-ZHoXccPyfmTu7FMueXUEP")
            button Use Research →
    // Meetings
    .example.meetings(data-type="meetings")
      .triangle
      figure
        video(autoplay loop muted playsinline)
          source(src="/assets/about/example-meeting.mp4")
        figcaption
          p Run engaging meetings and retrospectives that lead to clarity and actionable next steps.
          p Kinopio makes thinking transparent, collaborative, and sharable – which leads to better decisions and better products.
          a(href="https://kinopio.club/meeting-b87U9WETGvl17BrKNsqDH")
            button Use Meeting →
    // Mood Boards
    .example.mood-boards(data-type="mood-boards")
      .triangle
      figure
        video(autoplay loop muted playsinline)
          source(src="/assets/about/example-mood-board.mp4")
        figcaption
          p Collect visual inspiration to evoke a vibe and a direction for your next big project.
          p
            img.icon.arena(src="/assets/arena.svg")
            span You can also import Are.na Channels
          a(href="https://kinopio.club/mood-board-GgDOqKvEEzTA93EYmAZrn")
            button Use Mood Board →
    // Journaling
    .example.journaling(data-type="journaling")
      .triangle
      figure
        video(autoplay loop muted playsinline)
          source(src="/assets/about/example-journal.mp4")
        figcaption
          p Create daily journal spaces to reflect on your life and moments.
          p Personalize your journal to fit your goals with custom prompts and themed prompt packs which present something new each time.
          a(href="https://kinopio.club/journal-aKbPUalz4zHLqGwpDncDI")
            button Use Journal →
    // Note Taking
    .example.note-taking(data-type="note-taking")
      .triangle
      figure
        img(src="/assets/about/example-note-taking.png")
        figcaption
          p Making beautiful notes isn’t just fun – taking notes by mapping and grouping related concepts spatially makes knowledge inherently more meaningful and memorable.
          p Organizing information non-linearly, like our brains do, reduces the amount of effort needed learn and remember  knowledge.
          a(href="https://kinopio.club/note-taking-BXblLMDGVn-mmRG9IUMeb")
            button Use Note Taking →
    // Lots More (Templates)
    .example.templates(data-type="templates")
      .triangle
      figure
        video(autoplay loop muted playsinline)
          source(src="/assets/about/example-explore.mp4")
        figcaption
          p
            img.icon.sunglasses(src="/assets/sunglasses.svg")
            span Explore more templates and cool spaces created by the community.
          p Including, spaces for project planning, database modelling, to-dos, outlining, roadmaps, grocery lists, and more…

    p Basically, for figuring stuff out – by yourself or collaboratively.


  section.features
    h2 Create Lively Freeform Spaces

    .grid-container

      .grid-item#feature-collaboration(data-section="collaboration")
        p Real-Time Collaboration
        video(autoplay loop muted playsinline)
          source(src="/assets/about/feature-collaboration.mp4")
      .grid-item#feature-images(data-section="images")
        p Images and Links
        video(autoplay loop muted playsinline)
          source(src="/assets/about/feature-images-and-links.mp4")
      .grid-item#feature-tags(data-section="tags")
        p [[Tags]]
        video(autoplay loop muted playsinline)
          source(src="/assets/about/feature-tags.mp4")
      .grid-item#feature-comments(data-section="comments")
        p ((Comments))
        video(autoplay loop muted playsinline)
          source(src="/assets/about/feature-comments.mp4")

    p Desktop and Mobile Apps
    video.mobile-video#feature-mobile(autoplay loop muted playsinline data-section="mobile")
      source(src="/assets/about/mobile.mp4")


  section.cta-bottom#cta-bottom(data-section="cta-bottom")
    p No sign up required. Export your data at any time.
    include /cta.pug

    a(href="https://www.producthunt.com/posts/kinopio")
      img.producthunt-badge(src="https://api.producthunt.com/widgets/embed-image/v1/top-post-badge.svg?post_id=276179&theme=dark&period=daily" alt="Kinopio on ProductHunt")


  section.about-me
    h2 About the Creator

    p Hi, my name is Pirijan and I'm the creator of Kinopio. Previously, I was the co-creator of Glitch.com.

    p I believe in ethical, economically-sustainable software that's designed by artists, built by craftspeople, and funded by the people who enjoy it. A lot of care goes into the little details, like how cards wiggle, or how painting feels, to make Kinopio creatively inspiring and delightful to use.

    p I write more about building Kinopio at
      span= ' '
      a(href="https://pketh.org") pketh.org
      span , you can also follow me on Twitter
      span= ' '
      a(href="https://twitter.com/pketh") @pketh

    p Here are some of my spaces:
    ul.spaces
      li computing happiness
      li architecture
      li roadmap
      li haircut

    p I hope you enjoy using Kinopio and find it useful,

    p [sig-"Pirijan"]
    p – Kinopio creator


script(src="/assets/js/examples.js")
