---
layout: default.pug
---

article.about
  section.what-is-kinopio
    h1 Spatial Thinking for New Ideas and Hard Problems

    //- card icons img, comment

    //- TODO short, 560px x 300px 'overview' focused on core function: (add to multiple, connect, paint, move all)
    video.overview(autoplay loop muted playsinline)
      source(src="https://kinopio-updates.us-east-1.linodeobjects.com/comments.mp4")
    p Get your thoughts out and visually connect them together. Kinopio works the way your mind works.

  section.uses
    span For
    .badge.use(data-type="mind-mapping") Mind Mapping
    .badge.use(data-type="research") Research
    .badge.use(data-type="meetings") Meetings
    .badge.use(data-type="mood-boards") Mood Boards
    .badge.use(data-type="journaling") Journaling
    .badge.use(data-type="note-taking") Note Taking
    span and
    a.badge.use(data-type="templates") Lots More

    // Examples, toggled with js

    // Mind Mapping - ✅ art🖼? space🌌?
    .example.mind-mapping(data-type="mind-mapping")
      .triangle
      figure
        img(src="/assets/about/test.png")
        // static map
        figcaption
          p Express, organize, and make sense of your thoughts and feelings by capturing and visually connecting related ideas together.
          a.badge(href="#") Mind Mapping Template →

    // Research - copy? art? space?
    .example.research(data-type="research")
      .triangle
      figure
        video
          src(src="https://kinopio-updates.us-east-1.linodeobjects.com/card-tags.mp4")
        figcaption
          p gather ideas, feedback, retrospectices. categorize with tags, move related ideas together,
          a.badge(href="#") Research Template →

    // Meetings - copy? art? space?
    .example.meetings(data-type="meetings")
      .triangle
      figure
        video
          source(src="https://kinopio-updates.us-east-1.linodeobjects.com/card-tags.mp4")
        figcaption
          p real-time collaboration. Run productive, engaging online remote meetings and workshops with your team. where in an office or remote team/ no matter where you are. retrospectices
          p .. meeting that leads to clarity and actionable next steps. design that .. encourages everyone to participate/removes barriers for participation.
          p .. no matter what device you're on, or where you are, everyone can work together as equals
          a.badge(href="#") Brainstorming Template →

    // Mood Boards - copy? art? space?
    .example.mood-boards(data-type="mood-boards")
      .triangle
      figure
        video(autoplay loop muted playsinline)
          source(src="/assets/about/futureland-moodboard-example.mp4")
        // img(src="/assets/about/futureland-mood-board.jpeg")
        figcaption
          p Collect visual inspiration to evoke a vibe or a direction for your next big project
          p
            img.icon.arena(src="/assets/arena.svg")
            span You can also import Are.na Channels
          a.badge(href="#") Mood Board Template →

    // Journaling - copy? art? space?
    .example.journaling(data-type="journaling")
      .triangle
      figure
        video(autoplay loop muted playsinline)
          source(src="https://kinopio-updates.us-east-1.linodeobjects.com/card-tags.mp4")
        figcaption
          p moonphase, customizable prompts, every day ask yourself 'what do i want to do?', also random ones to get instrospective, mental health
          a.badge(href="#") How to Use Daily Journals →

    // Note Taking - copy? art? space?
    //- linear, you dont think left to right bottom to top. isolated
    //- take notes like you learn
    //- more time effeccient
    //- don't have to re-record and review your notes as much because they're (the knowledge) inherently more sticky and meaningful to you
    .example.note-taking(data-type="note-taking")
      .triangle
      figure
        video
          source(src="https://kinopio-updates.us-east-1.linodeobjects.com/card-tags.mp4")
        figcaption
          p class notes, research notes
          a.badge(href="#") Brainstorming Template →

    // Templates - copy? art? space?
    .example.templates(data-type="templates")
      .triangle
      figure
        img(src="http://localhost:8081/assets/posts/templates.png")
        figcaption
          p more Templates can be found in asdf
          p more always being added,
          p explore spaces discover new community stuff/submissions
          a.badge(href="/posts/templates/") More Info

  p It's basically for figuring stuff out – by yourself or collaboratively.
  p No sign up required.

  include /actions.pug

  section.how-to-use
    h2 How To Use Kinopio

    p Kinopio is designed to
    ol
      li Get the chaotic messy thoughts and ideas out of your head
      li Show you how they’re connected
      li Help you figure out what they mean, and how to start working on them

    // Instead of neatly structured forms and lists like a traditional planning tool .. notino bit here?

    p "Let me show you"

    p Tap anywhere to make a new card. Put an idea, thought, or feeling in it. It doesn’t need to make sense right now. Make some more, wherever you want. Drag cards to move them with a jolly wiggle.

    p [vid]
    // figure
    //   video(autoplay loop muted playsinline)
    //     source(src="https://pketh.org/images/2019/basic-cards.mp4")
    // figcaption Get your feelings out

    p By now some of these ideas might be connected – so let’s connect them by dragging from one card connector to another.

    p [vid]
    video(autoplay loop muted playsinline)
      source(src="https://kinopio-updates.us-east-1.linodeobjects.com/current-card-connections.mp4")

    // https://pketh.org/images/2019/connecting.mp4

    p Connections can also be tapped on to edit their color and type, among other things.

    p [vid]
    // https://pketh.org/images/2019/connection-details.mp4

    p You’ve got the gist!
    p Kinopio is made for people who have ideas, feelings, or thoughts they’re struggling to express, organize, and understand.
    p ..fragile ideas to plant and grow, or thorny problems to think through
    p Rather than replacing useful team/planning/productivity tools you may already be using like Notion or Trello [], Kinopio is for things that don't work super well in linear documents and tables.  [it's best for exploratory, collaborative, things]


    p But here’s one more thing. You can paint over cards to move and edit them all together. It's pretty magical, although I am biased.
    p [vid]



    //- p fun/other uses: I recently used it to give away my plants before a big move: https://kinopio.club/free-plants...  , roadmap

    p Oh ya, It also works great on phones and tablets
    video
      source(src="https://kinopio-updates.us-east-1.linodeobjects.com/mobile-improvments-small.mp4")


  include /actions.pug


  section.more-features

    // h2 Advanced Features?
    // p "for power users too" // for newbs and pros, scales,

    // p Kinopio is a tool that'll grow with you. Whether doing deep-work by yourself, or collaborating with your team, creating and connecting thoughts spatially feels like extension of your mind


    //- p Instead of neatly structured forms and linear lists like a traditional planning tool, Kinopio is a thinking tool for creating connections through spatial relationships.



    p privacy, filtering, finding, inviting, keyboard shortcuts


  // TODO
  section.pricing

    h2 Pricing
    p "how much does it cost?"
    // blah
    a.badge(href="#") More Pricing Details


script(src="/assets/js/examples.js")
