---
layout: default.pug
---

article.about
  section.what-is-kinopio
    h1 Spatial Thinking for New Ideas and Hard Problems

    //- card icons img, comment

    //- todo short, 560px x 300px 'overview' focused on core function: (add to multiple, connect, paint, move all)
    video.overview(autoplay loop muted playsinline)
      source(src="https://kinopio-updates.us-east-1.linodeobjects.com/comments.mp4")
    p
      span Get your thoughts out and visually connect them together. Kinopio works how our brains work.

  section.uses
    //- replace 'brainstorming' w better example? more personal
    span For
    .badge.use(data-type="mind-mapping") Mind Mapping
    .badge.use(data-type="brainstorming") Brainstorming
    .badge.use(data-type="meetings") Meetings
    .badge.use(data-type="mood-boards") Mood Boards
    .badge.use Journaling
    .badge.use Note Taking
    span and
    // todo update templates page
    a.badge(href="/posts/templates/") Lots More

    // examples toggled with js

    .example.brainstorming(data-type="brainstorming")
      figure
        img(src="/assets/about/test.png")
      div
        p Run productive, engaging online remote meetings and workshops with your team.
        a.badge(href="#") Brainstorming Template →


    .example.mood-boards(data-type="mood-boards")
      figure
        video(autoplay loop muted playsinline)
          source(src="/assets/about/futureland-moodboard-example.mp4")
        // img(src="/assets/about/futureland-mood-board.jpeg")
      div
        p Collect visual inspiration to evoke a vibe or a direction for your next big project
        p
          img.icon.arena(src="/assets/arena.svg")
          span You can also import Are.na Channels
        a.badge(href="#") Mood Board Template →




  p It's basically for figuring stuff out – by yourself or collaboratively.
  p No sign up required.

  include /actions.pug

  section.how-to-use
    h2 How To Use Kinopio

    p Kinopio is designed to
    ol
      li Get the chaotic messy thoughts and ideas out of your head
      li Show you how they’re connected
      li Help you figure out what they mean, and how to start working on them

    p "Let me show you"

    p Tap anywhere to make a new card. Put an idea, thought, or feeling in it. It doesn’t need to make sense right now. Make some more, wherever you want. Drag cards to move them with a jolly wiggle.

    p [vid]
    // figure
    //   video(autoplay loop muted playsinline)
    //     source(src="https://pketh.org/images/2019/basic-cards.mp4")
    // figcaption Get your feelings out

    p By now some of these ideas might be connected – so let’s connect them by dragging from one card connector to another.

    p [vid]
    video(autoplay loop muted playsinline)
      source(src="https://kinopio-updates.us-east-1.linodeobjects.com/current-card-connections.mp4")

    // https://pketh.org/images/2019/connecting.mp4

    p Connections can also be tapped on to edit their color and type, among other things.

    p [vid]
    // https://pketh.org/images/2019/connection-details.mp4

    p You’ve got the gist!


    p But here’s one more thing. You can paint over cards to move and edit them all together. It's pretty magical, although I am biased.
    p [vid]


    p Kinopio exists for people who have ideas, feelings, or thoughts they’re struggling to express, organize, and understand.
    // Rather than replacing useful team/planning/productivity tools you may already be using like Notion or Trello [], Kinopio is for things that don't work super well in linear documents and tables.  [it's best for exploratory, collaborative, things]
    // p Instead of neatly structured forms and linear lists like a traditional planning tool, Kinopio is a thinking tool for creating connections through spatial relationships.


    // p fun/other uses: I recently used it to give away my plants before a big move: https://kinopio.club/free-plants...  , roadmap

    p It also works great on phones and tablets.


  include /actions.pug


  section.more-features

    h2 More Features
    // p "for power users too" // for newbs and pros, scales,

    p Kinopio is a tool that'll grow with you. Whether doing deep-work by yourself, or collaborating with your team, creating and connecting thoughts spatially feels like extension of your mind


    p privacy, filtering, finding, inviting, keyboard shortcuts


  // todo
  section.pricing

    h2 Pricing
    p "how much does it cost?"
    // blah
    a.badge(href="#") More Pricing Details


script(src="/assets/js/examples.js")
