---
layout: default.pug
---

article.about
  h1 Spatial Thinking for New Ideas and Hard Problems

  p For mind-mapping, brainstorming, mood-boards, journaling, retrospectives, meeting notes.
  p Basically for figuring stuff out – by yourself or collaboratively.
  p No sign up required.

  a(href="https://kinopio.club")
    button.button-primary
      span Use Kinopio →
  a(href="#")
    button Pricing

  // script(src="/assets/about.js")
