---
layout: default.pug
---

p Some of the ways people use Kinopio

h2.badge.life Life

ul
  li
    a(href="")
      h1 Make a Personal Homepage
      img(src="https://d2w9rnfcy7mm78.cloudfront.net/3618017/original_69ccaebeb107c1d5c9fab7f179067f62.png")
      p with Ana Luisa Figueiredo

  // li
  //   a(href="")
  //     h1 Mindmap

  li
    a(href="")
      // h1 Figure out what to watch or play
      h1 Mind Mapping
      img(src="https://us-east-1.linodeobjects.com/kinopio-uploads/Am0jr_ltE6gZzxdBlNs4F/46DBE58B-1B96-43AB-9955-81151D5395A8.webp")
      p with xyz


  h2.badge.planning Work & School

  li
    a(href="")
      h1 Take Great Notes
      p with xyz


  li
    a(href="")
      h1 Have Productive Meetings
      p with xyz

  // li
  //   a(href="")
  //     h1 API Schema


  // quotebook