---
layout: default.pug
---

ul
  li
    a(href="")
      h1 Personal Homepage
      img(src="https://d2w9rnfcy7mm78.cloudfront.net/3618017/original_69ccaebeb107c1d5c9fab7f179067f62.png")

  li
    a(href="")
      h1 Mindmap
      img(src="https://us-east-1.linodeobjects.com/kinopio-uploads/Am0jr_ltE6gZzxdBlNs4F/46DBE58B-1B96-43AB-9955-81151D5395A8.webp")

  li
    a(href="")
      h1 Meeting Retrospective