---
layout: default.pug

---


p.intro(style=`color: ${textColor}`) Some of the ways people use Kinopio:

p
  img.icon.updated(src="https://blog.kinopio.club/assets/updated.gif")
  span The guides have been moved to the&nbsp;
  a(href="https://blog.kinopio.club") Kinopio Blog