---
layout: default.pug
// backgroundColor: '#e8efdd'
// textColor: '#20401e'

---



p.intro(style=`color: ${textColor}`) Some of the ways people use Kinopio

h2.badge.life Life

ul


  li
    a(href="/guides/personal-homepage")
      .user(style=`background-color: #1ce0e4`)
      h1(style=`color: ${textColor}`) Make a Personal Homepage
      img(src="https://us-east-1.linodeobjects.com/kinopio-uploads/9rRtxhnVQIoB9DB4ARrzk/IMG-6842.JPG")




  li
    a(href="")
      .user
      h1 Mind Mapping
      img(src="https://d2w9rnfcy7mm78.cloudfront.net/3618017/original_69ccaebeb107c1d5c9fab7f179067f62.png")


  h2.badge.work-school Work & School

  li
    a(href="")
      .user
      h1 Take Great Notes
      img(src="https://us-east-1.linodeobjects.com/kinopio-uploads/Am0jr_ltE6gZzxdBlNs4F/46DBE58B-1B96-43AB-9955-81151D5395A8.webp")

  li
    a(href="")
      .user
      h1 Have Productive Meetings
      img(src="https://us-east-1.linodeobjects.com/kinopio-uploads/Am0jr_ltE6gZzxdBlNs4F/46DBE58B-1B96-43AB-9955-81151D5395A8.webp")


  // quotebook, inspiration, Figure out what to watch or play
