---
layout: default.pug
---
h1 Hello

p
  a(href="https://kinopio.club") Kinopio
  span &nbsp;is the visual thinking tool for new ideas and hard problems.

p By making it easy to get your thoughts out and form connections organically, Kinopio works how our brains work.

include /contact.pug

section
  h2 How to Use
  ul
    li
      a(href="/posts/creating-cards-and-connections")
        span Creating Cards and Connections
    li
      a(href="#")
        span Bulk Actions
    li
      a(href="#")
        span Adding Images to Cards
    li
      a(href="#")
        span Editing Connections
    li
      a(href="#")
        span Mobile Tips
    li
      a(href="#")
        span Restoring Removed Cards and Spaces
    li
      a(href="#")
        span Filtering
    li
      a(href="#")
        span Keyboard Shortbuts
    li
      a(href="#")
        span Duplicating a Space

  h2 About Kinopio
  ul
    li
      a(href="#")
        span How Much Does Kinopio Cost?
    li
      a(href="#")
        span Uses of Kinopio
    li
      a(href="#")
        span Who Makes Kinopio?

  h2 API
  ul
    li
      a(href="#")
        span Where are the API Docs?

  h2 Collaboration
  ul
    li
      a(href="#")
        span Inviting Collaborators to a Space
    li
      a(href="#")
        span Managing Collaborators

  h2 Explore and Favorites
  ul
    li
      a(href="#")
        span Using Explore
    li
      a(href="#")
        span Favoriting Spaces and People
    li
      a(href="#")
        span Templates

  h2 Importing and Exporting
  ul
    li
      a(href="#")
        span Importing
    li
      a(href="#")
        span Exporting

  h2 Policies
  ul
    li
      a(href="#")
        span Privacy Policy
    li
      a(href="#")
        span Terms of Service
    li
      a(href="#")
        span Use Restrictions Policy

  h2 Press
  ul
    li
      a(href="#")
        span Press Kit

  h2 Sharing and Privacy
  ul
    li
      a(href="#")
        span Who Can See What I Make?
    li
      a(href="#")
        span Sharing Spaces

  h2 User Settings
  ul
    li
      a(href="#")
        span Delete Your Account
    li
      a(href="#")
        span Reset Your Password