section.overview
  .articles
    display flex
    flex-wrap wrap
  article
    width calc(50% - 1rem)
    max-width 300px
    background-color var(--secondary-active-background)
    border-radius 10px
    margin-bottom 1rem
    margin-right 1rem
    video
      background-color var(--primary-background)
      border-bottom-left-radius 0
      border-bottom-right-radius 0
    p
      margin-left 10px
      margin-top 0
    .badge
      box-shadow none
      border-radius 100px
      padding-left 8px
      padding-right 8px
      &:hover
        box-shadow none