section.overview
  .articles
    display flex
    flex-wrap wrap
  article
    width calc(50% - 1rem)
    max-width 300px
    background-color var(--secondary-active-background)
    border-radius 10px
    margin-bottom 1rem
    margin-right 1rem
    video
      background-color var(--primary-background)
      border-top-left-radius 0
      border-top-right-radius 0
      margin-bottom 0
    p
      margin-left 1rem
      // margin-top 0
    .badge
      box-shadow none
      border-radius 100px
      padding-left 8px
      padding-right 8px
      &:hover
        box-shadow none

section.index
  margin-top -1rem