:root {
  --primary: #000;
  --info-background: #90ffff;
  --sans-serif: Helvetica Neue, Helvetica, Arial, sans-serif;
}
@font-face {
  font-family: 'OsakaMono-Kinopio';
  src: url("/assets/OsakaMono-Kinopio.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}
body {
  margin: 20px;
  color: var(--primary);
  font-family: var(--sans-serif);
}
.logo {
  width: 50px;
  vertical-align: -13px;
  margin-right: 12px;
}
h1 {
  font-size: 20px;
}
h2 {
  font-size: 16px;
}
p {
  max-width: 520px;
}
a:hover {
  text-decoration: none;
}
input {
  font-size: 16px;
  font-family: var(--sans-serif);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000;
}
img {
  width: 100%;
  max-width: 600px;
}
video {
  width: 100%;
  max-width: 420px;
}
blockquote {
  margin: 0;
  background: var(--info-background);
  border-radius: 3px;
  padding: 8px;
  max-width: 520px;
}
blockquote p {
  margin: 0;
}
.row {
  display: flex;
  align-items: center;
  max-width: 520px;
}
header {
  margin-bottom: 2rem;
}
header h1 a {
  color: var(--primary);
  text-decoration: none;
}
header h1 a:hover {
  text-decoration: underline;
}
.email {
  height: 70px;
  width: auto;
  margin-right: 16px;
}
.froggo {
  margin-top: 1rem;
  margin-bottom: 2rem;
  max-width: 75px;
}
