:root
  --primary black
  --primary-background white

  // --secondary #666
  --secondary-background #e3e3e3
  --secondary-hover-background #d8d8d8
  --secondary-active-background #cdcdcd

  --light-shadow rgba(0,0,0,0.20)
  --heavy-shadow rgba(0,0,0,0.25)

  // --danger-background #ffb8b3
  // --danger-hover-background #ffa49e
  // --danger-active-background #ff928b

  --info-background #90ffff
  --success-background #98f49f

  // non-theme vars
  // --max-z 2147483647
  --hover-shadow 3px 3px 0 var(--heavy-shadow)
  // --active-shadow 5px 5px 0 var(--light-shadow)
  // --active-inset-shadow inset 0 2px 3px var(--light-shadow)
  // --button-hover-shadow inset 0 1px 2px var(--heavy-shadow)
  --button-active-inset-shadow inset 0px 1px 2px var(--heavy-shadow)

  --badge-shadow 2px 2px 0 var(--light-shadow)
  --button-to-kinopio-hover-shadow 5px 5px 0 var(--heavy-shadow)

  // help site vars
  --max-page-width 520px
  --page-margin 20px
  --page-background #dbdbdb // #e8eadf
  --code-background #c8c8c8
  --table-border #c5c5c5
  --table-hover-background rgba(0,0,0,0.05)
  --cta-background #67ffbb
  --sans-serif Helvetica Neue, Helvetica, Arial, sans-serif


// Elements

@font-face
  font-family 'OsakaMono-Kinopio'
  src url("/assets/fonts/OsakaMono-Kinopio.woff2") format("woff2")
  font-weight normal
  font-style normal

@font-face
  font-family 'JeanLuc'
  src url("/assets/fonts/JeanLuc-Bold.woff2") format("woff2")
  font-weight bold
  font-style normal

@font-face
  font-family 'Recoleta'
  src url("/assets/fonts/Recoleta-Regular.woff2") format("woff2")
  font-weight normal
  font-style normal

@font-face
  font-family 'Recoleta'
  src url("/assets/fonts/Recoleta-Bold.woff2") format("woff2")
  font-weight bold
  font-style normal


*
  -webkit-overflow-scrolling touch
  -webkit-tap-highlight-color transparent
  box-sizing border-box
  // font-family "OsakaMono-Kinopio", monospace

body
  color var(--primary)
  font-family var(--sans-serif)
  margin var(--page-margin)
  background-color var(--page-background)
  overflow hidden // temp

.content-wrap
  margin-left auto
  margin-right auto
  max-width 800px
  width 100%
  position relative
  // background-image url("https://kinopio.club/img/background.597f845c.svg")
  // background-position top
  padding 0
  pointer-events none // temo

.logo
  background-image url('/assets/logo-base.png')
  background-size contain
  background-repeat no-repeat
  width 50px
  height 42px
  vertical-align -13px
  margin-right 12px
  display inline-block

.hidden
  display none !important

h1
  // font-family Mars
  font-family Recoleta
  font-size 30px
  font-weight normal
  // margin-bottom 1rem
  // font-family Agrandir
h2,
h3
  margin-top 2rem
  font-family Recoleta
  // font-family Mars
  font-size 22px
  font-weight normal
  // font-family Agrandir

h1,
h2,
a,
p
  max-width var(--max-page-width)

p
  line-height 1.2

a
  color blue
  &:hover
    text-decoration none

.icon
  width 13px
  display inline
  vertical-align 1px
  margin-right 5px
  user-drag none
  -webkit-user-drag none

// .down-arrow
//   width 10px
//   margin 0
//   margin-left 5px
//   vertical-align middle

.heart
  margin-left 5px

form
  margin 0
  display flex

input
  font-size 16px
  font-family var(--sans-serif)
  background-color transparent
  border none
  border-radius 0
  border-bottom 1px solid black

img
  width 100%
  max-width var(--max-page-width)

ul
  padding 0
  li
    list-style none
    margin-bottom 12px
    a
      color var(--primary)
      text-decoration none
      background var(--info-background)
      padding 4px 5px
      border-radius 3px
      box-shadow var(--badge-shadow)
      &:hover,
      &:focus
        box-shadow var(--hover-shadow)
      &:active
        box-shadow var(--button-active-inset-shadow)

.badge
  color var(--primary)
  text-decoration none
  background var(--info-background)
  padding 4px 5px
  border-radius 3px
  box-shadow var(--badge-shadow)
  &:hover,
  &:focus
    box-shadow var(--hover-shadow)
  &:active,
  &.active
    box-shadow var(--button-active-inset-shadow)

button
  touch-action manipulation
  text-align left
  padding 7px
  padding-top 4px
  padding-bottom 4px
  margin 0
  border 1px solid var(--primary)
  background-color transparent
  border-radius 3px
  cursor pointer
  user-select none
  font-size 14px
  font-family var(--sans-serif)
  &:hover,
  &:focus
    box-shadow var(--hover-shadow)
    background var(--secondary-hover-background)
  &:active,
  &.active
    color var(--primary)
    box-shadow var(--button-active-inset-shadow)
    background var(--secondary-active-background)

.button-to-kinopio
  background-color var(--cta-background)
  box-shadow var(--hover-shadow)
  &:hover,
  &:focus
    background-color var(--cta-background)
    box-shadow var(--button-to-kinopio-hover-shadow)
  &:active
    background-color var(--cta-background)
    box-shadow var(--button-active-inset-shadow)

.segmented-buttons
  button
    margin 0
    border-radius 0
  a
    button
      margin-left -1px
    &:first-child
      button
        border-top-left-radius 3px
        border-bottom-left-radius 3px
        margin-left 0
    &:last-child
      button
        border-top-right-radius 3px
        border-bottom-right-radius 3px

code,
blockquote
  background var(--code-background)

code
  color var(--primary)
  padding 2px
  padding-left 6px
  padding-right 6px
  border-radius 3px
  font-family "OsakaMono-Kinopio", monospace

blockquote
  margin 0
  border-radius 3px
  padding 8px
  display inline-block
  p
    margin 0

canvas#background
  position: fixed
  background-color transparent
  top 0
  left 0
  z-index -1
canvas#page-background,
canvas.auto-paint
  position: absolute
  background-color transparent
  top 0
  left 0
  z-index -2
canvas.auto-paint
  z-index -3

.table-wrap
  overflow-x auto
  border-radius 3px

table
  border-collapse collapse
  max-width 1000px
  th,
  td
    padding 12px
    text-align left
    border-bottom 1px solid var(--table-border)
  tr
    &:hover
      background var(--table-hover-background)

// Components

header
  .title
    display flex
  h1
    font-family JeanLuc
    font-size 24px
    margin-top 0
    padding-top 10px
  a
    color var(--primary)
    text-decoration none
    &:hover,
    &:focus
      text-decoration underline
      .logo
        background-image url('/assets/logo-hover.png')
    &:active
      .logo
        background-image url('/assets/logo-active.png')

.search
  display flex
  margin-bottom 2rem
  img
    width 18px
    padding-right 4px
    cursor pointer
    margin-top 1px

main
  button
    font-size 16px

footer
  margin-top 4rem
  margin-bottom 4rem
  .sections
    display flex
    section + section
      margin-left 2rem
    h3
      font-size 20px
      margin-top 1rem
  nav
    margin-top 1rem
    position static
  li
    a
      background-color #c4c4c4

nav
  display flex
  position absolute
  right 0
  top 0
  button
    margin-left 6px

article
  ul,
  ol
    max-width var(--max-page-width)
    padding-left 1rem
    margin-left 1rem
    li
      margin-bottom 12px

  ul
    li
      list-style-type disc

  img,
  video
    width 420px
    max-width 100%
    border-radius 10px
    margin-bottom 1rem
    &.wide
      width 700px
    &.narrow
      width 250px
    &.no-shadow
      box-shadow none

img + h2,
video + h2
  margin-top 1.5rem

ul.api-contents
  margin-top 1rem
  padding 0
  margin-left 0
  margin-right 0
  position sticky
  top 20px
  z-index 10
  li
    list-style none
    display inline-block
    margin-right 6px

.api
  h2
    font-family sans-serif
    font-size 22px
    font-weight bold
  h2,
  h3
    &.badge
      display inline-block
      padding 4px 5px
      border-radius 3px
      font-family sans-serif
      font-size 16px
      font-weight bold
      margin-bottom 0
  .badge.all
    margin-top 0

  code
    line-height 1.2

  // colors should match api.pug
  .all,
  .users,
  .spaces,
  .cards,
  .connections,
  .connection-types,
  .tags,
  .notifications
    color var(--primary)
    padding 2px 5px
  .all
    background khaki
  .users
    background #b9a8ff
  .spaces
    background pink
  .cards
    background violet
  .connections
    background salmon
  .connection-types
    background burlywood
  .tags
    background mediumaquamarine
  .notifications
    background darkseagreen

  .get-label,
  .post-label,
  .patch-label
  .delete-label
    color rgba(255,255,255,0.9)
  .get-label
    background forestgreen
  .post-label
    background blueviolet
  .patch-label
    background peru
  .delete-label
    background firebrick

.anchor
  display block
  position relative
  top -40px
  visibility hidden

.froggo
  max-width 75px

.cat
  max-width 150px

.remove
  transform rotate(45deg)
  width 20px
  padding 5px

.row
  display flex
  button
    margin-right 10px
  margin-bottom 2rem

// About

.about
  h1
    font-size 36px
    margin-top 1rem
  h2
    font-size 26px
    font-weight bold
  img,
  video
    width 100%
    max-width 560px
    margin-bottom 0
    position relative
  video.overview
    background-color #38693e
  .uses
    span
      vertical-align middle
      margin-right 6px
    .badge
      display inline-block
      vertical-align middle
      margin-right 6px
      cursor pointer
    .triangle
      width 0
      height 0
      border-width 0 10px 11px 10px // matches triangleWidth in examples.js
      border-color transparent transparent var(--code-background) transparent
      border-style solid
      position absolute
      left 72px
      top -11px
    .example
      width 100%
      background var(--code-background)
      border-radius 10px
      padding 1rem
      display inline-block
      margin-top 1rem
      position relative
      figure
        display inline-flex
        margin 0
        align-items flex-start
        video,
        img
          max-width 60%
          margin 0
        img.arena
          width 20px
          vertical-align 0
          margin 0
          margin-right 5px
        img.sunglasses
          width 25px
          vertical-align -2px
          margin 0
          margin-right 5px
      figcaption
        max-width calc(40% - 1rem)
        margin-left 1rem
        p:first-child
          margin-top 0

  section.uses,
  section.features
    margin-top 4rem

  .grid-container
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em 1em;
    grid-template-areas:
      ". ."
      ". .";
    video
      background #c8c8c8
    p
      margin-top 0

  .mobile-video
    max-width 300px

  .cta-bottom
    margin-top 2rem

  .cta
    a + a
      margin-left 6px
